@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
:root {
    --primary-color: #582707;
    --secondary-color: #FFE548;
    --accent1-color: #F7ca39;
    --accent2-color: #62633F;
    --heading-font: 'Poppins', sans-serif;
    --paragraph-font:'Playfair Display', serif;
    --nav-background-color: #F6b81a;
    --nav-link-color: #582707;
    --nav-hover-link-color: #453021;
    --nav-hover-background-color: #F5A700;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color)
}
header{
    padding: 20px;
    background-color: var(--accent1-color)
}
p{
    padding:25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color)
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}